@use "sass:math";

.button-container {
  display: flex;
  justify-content: center;
}

.tower-button {
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(22, 22, 22);

}

.tower {
  transform-origin: bottom center;
}

@for $i from 0 through 10 {
  .tower-button-delay-#{$i} {
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(22, 22, 22);
    animation-delay: #{math.div(10 - $i, 10)}s !important;
  }
}


@keyframes flash {
  0% {
    background-color: rgb(22, 22, 22);
  }

  50% {
    background-color: lawngreen;
  }

  100% {
    background-color: rgb(22, 22, 22);
  }
}

@keyframes sway {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0);
  }
}