@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap');

.main-title-text {
  position: absolute;
  font-size: clamp(32px, 15vw, 95px);
  font-weight: 700;
  font-family: "Inknut Antiqua";
  margin: 0;
  padding: 0;
  
}


.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.main-title-div {
  height: 120px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 0px;
}

.shadow-only {
  color: #ff0800;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, .75);
  z-index: 1;
}

.image-fill {
  color: #ff080055;
  background: url('/assets/images/title-background.jpg') no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  z-index: 2;
}
